Repository michelgalle/codecov_snippet: changes, and which Codecov flags are due for each by the changed paths.
All: project01, project02

codecov.yml:

#codecov:
#  token: your-codecov-token
coverage:
  status:
    project:
      project01:
        target: auto
        flags:
          - project01
      project02:
        target: auto
        flags:
          - project02
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  show_carryforward_flags: true
flags:
  project01:
    paths:
      - lib/project01/
    carryforward: true
  project02:
    paths:
      - lib/project02/
    carryforward: true

fix flags
  .github/workflows/on_push.yml
Due: none

add function
  lib/project01/project01/functions.py
Due: project01

test
  lib/project02/project02/functions2.py
Due: project02

new change
  lib/project01/project01/functions.py
Due: project01

flags
  .github/workflows/on_push.yml
  codecov.yml
Due: none

coverage
  codecov.yml
Due: none

new func
  lib/project02/project02/functions2.py
Due: project02

more changes
  lib/project01/project01/functions.py
Due: project01

ignore
  codecov.yml
Due: none

flags
  codecov.yml
Due: none
